---
import type { PageConfig } from '../../common/types/page-config';
import type { PrevNextArticleData } from '../../common/types/prev-next-article-data';
import type { RootId } from '../../common/types/root-id';
import { metadataConfig } from '../../configs/metadata';
import { getFormattedDate } from '../../helpers/get-formatted-date';
import ArticleBody from '../ArticleBody.astro';
import BottomNavigation from '../BottomNavigation.astro';
import PrintButton from '../PrintButton.astro';
import RootLayout from './RootLayout.astro';

type Props = {
  title: string;
  description: string;
  date?: string;
  pageConfig: PageConfig;
  prevArticle: PrevNextArticleData | null;
  nextArticle: PrevNextArticleData | null;
};

const { title, date, description, pageConfig, ...prevNextArticles } =
  Astro.props;
---

<RootLayout title={title} description={description}>
  <article itemscope itemtype="http://schema.org/Article">
    <div class="article-header">
      <h1 class="article-title">{title}</h1>
      {
        pageConfig.shouldShowDate && date && (
          <div class="article-date">{getFormattedDate(date)}</div>
        )
      }
      <meta itemprop="image" content={metadataConfig.socialMediaImage} />
      <meta itemprop="author" content={metadataConfig.author} />
    </div>
    <ArticleBody>
      <slot />
    </ArticleBody>
    <PrintButton />
    <BottomNavigation
      rootId={pageConfig.id}
      labels={pageConfig.navigationTitles}
      shortPageTitle={pageConfig.shortTitle}
      {...prevNextArticles}
    />
  </article>
</RootLayout>

<style>
  .article-header {
    margin-bottom: 20px;
  }
  .article-title {
    font-size: 35px;
    line-height: 1.3;
    font-weight: bold;
  }
  .article-date {
    display: block;
    margin-top: 10px;
    line-height: 1;
    color: var(--red-base);
  }
  @media (max-width: 640px) {
    .article-title {
      font-size: 32px;
    }
  }
  @media print {
    .article-title {
      font-size: 16px;
    }
    .article-date {
      display: none;
    }
  }
</style>
