---
import { metadataConfig } from '../../configs/metadata';
import Container from '../Container.astro';
import ContentWrapper from '../ContentWrapper.astro';
import OpenGraph from '../OpenGraph.astro';
import Header from '../Header.astro';
import Body from '../Body.astro';
import Footer from '../Footer.astro';
import Cover from '../Cover.astro';

type Props = {
  title?: string;
  description?: string;
  coverImage?: string;
};

const { title, description, coverImage } = Astro.props;

const currentPath = Astro.url.pathname;

const basePageTitle = title ?? metadataConfig.title;
const prefixedTitle = `${title} - ${metadataConfig.title}`;

const pageTitle = currentPath === '/' ? basePageTitle : prefixedTitle;
const pageDescription = description ?? metadataConfig.description;
---

<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={pageDescription} />
    <meta name="viewport" content="width=device-width" />

    <OpenGraph title={pageTitle} description={pageDescription} />

    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{pageTitle}</title>
  </head>
  <Body>
    <Header />
    {coverImage && <Cover imagePath={coverImage} title={basePageTitle} />}
    <ContentWrapper>
      <Container>
        <slot />
      </Container>
    </ContentWrapper>
    <Footer />
  </Body>
</html>

<style is:global>
  :root {
    --red-base: #ff5353;
    --red-bright: #f00;

    --black-light: #202020;

    --gray: #838383;
    --gray-dark: #777;
    --gray-invisible: #f2f2f2;
    --gray-light: #ddd;
    --gray-ultra-light: #e1e1e1;

    --default-border: 1px solid var(--gray-ultra-light);
    --header-height: 65px;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  * {
    margin: 0;
    padding: 0;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  button {
    display: block;
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    border: none;
  }

  ::selection {
    color: #fff;
    background-color: var(--red-base);
  }

  ::-moz-selection {
    color: #fff;
    background-color: var(--red-base);
  }

  @media print {
    @page {
      margin: 20mm 15mm;
      size: A4 portrait;

      @bottom-right {
        content: counter(page);
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      page-break-after: avoid;
    }
  }
</style>
